<nav class="bg-neutral-primary sticky   w-full z-20 top-0 start-0 border-b border-default">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a routerLink="" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../../../images/freshcart-logo.svg" class="h-7" alt="Flowbite Logo" />
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
            class="cursor-pointer inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
            </svg>
        </button>
        <div class="hidden w-full md:flex md:w-auto  justify-between grow ps-6" id="navbar-default">
            @if (layout == "user") {
            <ul
                class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
                <li>
                    <a routerLink="home" routerLinkActive="text-main"
                        class="block py-2 px-3 text-heading rounded md:bg-transparent md:hover:text-main  md:p-0"
                        aria-current="page">Home</a>
                </li>
                <li>
                    <a routerLink="cart" routerLinkActive="text-main"
                        class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-main md:p-0 md:dark:hover:bg-transparent">Cart</a>
                </li>
                <li>
                    <a routerLink="products" routerLinkActive="text-main"
                        class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-main md:p-0 md:dark:hover:bg-transparent">products</a>
                </li>
                <li>
                    <a routerLink="categories" routerLinkActive="text-main"
                        class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-main md:p-0 md:dark:hover:bg-transparent">categories</a>
                </li>
                <li>
                    <a routerLink="brands" routerLinkActive="text-main"
                        class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-main md:p-0 md:dark:hover:bg-transparent">brands</a>
                </li>
            </ul>

            <ul
                class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
                <li>
                    <a (click)="logout()"
                        class="cursor-pointer block py-2 px-3 text-heading rounded md:bg-transparent md:p-0 md:hover:text-main"
                        aria-current="page">logout</a>
                </li>
            </ul>

            }@else{
            <ul
                class="font-medium flex flex-col justify-end grow p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
                <li>
                    <a routerLink="login" routerLinkActive="text-main"
                        class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-main md:p-0 md:dark:hover:bg-transparent"
                        aria-current="page">login</a>
                </li>
                <li>
                    <a routerLink="register" routerLinkActive="text-main"
                        class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-main md:p-0 md:dark:hover:bg-transparent">
                        register </a>
                </li>
            </ul>
            }

        </div>
    </div>
</nav>